<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Scape_data_ search</title>
</head>
<body>
  <h3>Welcome to the scraped data search portal</h3>
  <h2>Enter keywords to search for</h2>
  <form action = "http://localhost:5000/success" method = "POST">  
         <p>Search <input type = "text" name = "name" /></p>  
         <p><input type = "submit" value = "submit" /></p> 
  </form>
{% for table in tables %}
            {{ table|safe }}
{% endfor %}
</body>
</html>